.linea {
  display: flex;
  flex-direction: row;
  color: rgb(13, 11, 30);
  background-color: rgb(241, 241, 241);
  border-radius: 0.75em;
  font-size: 0.9em;
  padding: 0.3em;
  border: 1px solid rgba(197, 197, 197, 0.4);
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  overflow: hidden;
  user-select: none;
  transition: all;
}
.linea-future {
  display: flex;
  flex-direction: row;
  color: rgb(13, 11, 30);
  background-color: rgb(241, 241, 241);
  border-radius: 0.75em;
  font-size: 0.9em;
  padding: 0.3em;
  border: 1px solid rgba(197, 197, 197, 0.4);
  margin-top: 0.45em;
  margin-bottom: 0.45em;
  overflow: hidden;
  user-select: none;
  border-right: 5px solid rgb(134 134 134);
  transition: all;
}
.linea:hover {
  color: rgb(71, 71, 71);
  font-weight: 500;
  background-color: rgb(236, 239, 248);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  border-left: 2px solid rgba(137, 137, 137, 0.3);
  border-right: 2px solid rgba(137, 137, 137, 0.3);
}

.linea-future:hover {
  color: rgb(71, 71, 71);
  font-weight: 500;
  background-color: rgb(236, 239, 248);
  box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.7);
  border-left: 2px solid rgba(137, 137, 137, 0.3);
  border-right: 10px solid rgb(110, 110, 110);
}

.sombra {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.content {
  width: 80%;
  padding: 0.5em;
  border-right: 1px solid rgba(197, 197, 197, 1);
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 0.5em;
}
.con {
  flex-direction: column;
  width: 100%;
}
.showBase {
  visibility: hidden;
  display: none;
}
.showRows {
  visibility: hidden;
  display: none;
}
/* Media query para tablets (ancho máximo de 768px) */
@media screen and (max-width: 768px) {
  .show {
    visibility: visible;
    display: flex;
  }
  .showRows {
    visibility: hidden;
    display: none;
  }
}

/* Media query para teléfonos móviles (ancho máximo de 480px) */
@media screen and (max-width: 650px) {
  .show {
    visibility: hidden;
    display: none;
  }
  .showRows {
    visibility: visible;
    display: flex;
  }
}

.elemento {
  position: relative;
  transition: transform 0.3s ease;
}

.extra {
  min-height: 50px;
  padding: 0.5em;
  margin-top: -3px;
  width: auto;
  -webkit-box-shadow: inset 3px 5px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 3px 5px 5px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.index {
  color: rgb(132, 132, 132);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35em;
  font-weight: 600;
  box-sizing: border-box;
  min-width: 25px;
}

.clasic {
  width: 80% !important;
}
.modern {
  width: 100% !important;
}
.list {
  width: 80% !important;
  border-left: 2px solid rgba(199, 199, 199, 0.5);
}
.future {
  width: 100% !important;
}
